@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

.namesong-search {
  @apply flex items-center gap-x-3 cursor-pointer hover:bg-neutral-800/50 w-full p-2 rounded-md truncate;
  max-width: 100%;
}

.button-first {
  max-width: 100%;
}

@media screen and (max-width: 530px) {
  .namesong-search {
    max-width: 250px;
  }
  .button-first {
    max-width: 100px;
    
  }
}


